Repository softwarefactory-project/sf-operator: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-operator-go-test, sf-operator-doc-check, sf-operator-microshift-upgrade, sf-operator-microshift-integration, sf-operator-minikube-integration, sf-operator-minikube-upgrade

zuul.d/jobs.yaml:

---
# Linting jobs
- job:
    name: sf-operator-ansible-lint
    description: Lint Ansible playbooks located in playbooks directory
    timeout: 900
    pre-run: playbooks/ansible-dependencies.yaml
    parent: ansible-lint
    vars:
      # NOTE(dpawlik): We don't need to add roles dir, due there is a symlink
      # done in playbooks that is related to roles dir.
      ansible_lint_playbooks_dir: playbooks
      ansible_lint_roles_dir: roles
      ansible_lint_check_all: false
    nodeset:
      nodes:
        - name: controller
          label: zuul-worker-f41

- job:
    name: sf-operator-vuln-check
    run: playbooks/run-golang-vuln.yaml
    nodeset:
      nodes:
        - name: controller
          label: zuul-worker-f41

# Go testing job
- job:
    name: sf-operator-go-test
    description: Run Go unit and integration tests via 'make test'
    pre-run: playbooks/install-golang.yaml
    timeout: 900
    irrelevant-files: &irrelevant-files
      - ".*.md$"
      - "doc/.*"
      - ".github/.*"
    nodeset:
      nodes:
        - name: controller
          label: cloud-centos-9
    run: playbooks/run-go-tests.yaml

# Documentation checking job
- job:
    name: sf-operator-doc-check
    description: Check internal and external links in documentation and fail on warnings
    pre-run: playbooks/install-golang.yaml
    timeout: 600
    files:
      - "doc/.*"
      - "mkdocs.yml"
      - "mkdocs-requirements.txt"
      - "Makefile"
    nodeset:
      nodes:
        - name: controller
          label: zuul-worker-f41
    run: playbooks/run-doc-check.yaml

# sf-operator on microshift jobs
- job:
    name: sf-operator-microshift
    parent: sf-operator-microshift-rhel
    pre-run: &pre-run
      - playbooks/health-check/dstat-pre.yaml
    post-run: &post-run
      - playbooks/health-check/dstat-post.yaml
      - playbooks/post.yaml
    timeout: 7200
    abstract: true
    irrelevant-files: *irrelevant-files
    vars:
      # post tasks artifacts directory
      output_logs_dir: ~/zuul-output/logs
      inject_dev_ssh_keys: true

- job:
    name: sf-operator-microshift-upgrade
    description: Validates a sf-operator upgrade on microshift
    parent: sf-operator-microshift
    run: playbooks/upgrade.yaml
    vars:
      sf_operator_stable_version: v0.0.64

- job:
    name: sf-operator-microshift-integration
    parent: sf-operator-microshift
    run: playbooks/run-all-tests.yaml

# minikube sf-operator jobs
- job:
    name: sf-operator-minikube
    abstract: true
    irrelevant-files: *irrelevant-files
    pre-run:
      - playbooks/install-minikube.yaml
      - playbooks/prepare-minikube.yaml
      - playbooks/install-test-dependencies.yaml
    post-run: playbooks/get-minikube-logs.yaml
    timeout: 7200
    vars:
      create_ramdisk: True
      with_loki: true
    nodeset:
      nodes:
        - name: controller
          label: cloud-centos-9-big

- job:
    name: sf-operator-minikube-integration
    parent: sf-operator-minikube
    run:
      - playbooks/run-deploy.yaml
      - playbooks/run-tests.yaml

- job:
    name: sf-operator-minikube-upgrade
    parent: sf-operator-minikube
    run: playbooks/minikube-upgrade.yaml
    vars:
      with_loki: false

Remove OLM/Bundle files and make target
  .dockerignore
  .gitignore
  Dockerfile
  Makefile
  PROJECT
  config/crd/kustomization.yaml
  config/crd/kustomizeconfig.yaml
  config/crd/patches/cainjection_in_softwarefactories.yaml
  config/crd/patches/webhook_in_softwarefactories.yaml
  config/default/kustomization.yaml
  config/default/manager_auth_proxy_patch.yaml
  config/default/manager_config_patch.yaml
  config/manager/controller_manager_config.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  config/manifests/bases/sf-operator.clusterserviceversion.yaml
  config/manifests/kustomization.yaml
  config/prometheus/kustomization.yaml
  config/prometheus/monitor.yaml
  config/rbac/auth_proxy_client_clusterrole.yaml
  config/rbac/auth_proxy_role.yaml
  config/rbac/auth_proxy_role_binding.yaml
  config/rbac/auth_proxy_service.yaml
  config/rbac/kustomization.yaml
  config/rbac/leader_election_role.yaml
  config/rbac/leader_election_role_binding.yaml
  config/rbac/role.yaml
  config/rbac/role_binding.yaml
  config/rbac/service_account.yaml
  config/rbac/softwarefactory_editor_role.yaml
  config/rbac/softwarefactory_viewer_role.yaml
  config/samples/sf_v1_softwarefactory.yaml
  olm-deps/prometheus/prometheus-subscription.yaml
Due: sf-operator-go-test, sf-operator-doc-check, sf-operator-microshift-upgrade, sf-operator-microshift-integration, sf-operator-minikube-integration, sf-operator-minikube-upgrade

Remove prometheus operator integration
  .gitignore
  Makefile
  api/v1/softwarefactory_types.go
  config/crd/bases/sf.softwarefactory-project.io_softwarefactories.yaml
  controllers/libs/monitoring/monitoring.go
  controllers/logserver.go
  controllers/main.go
  controllers/nodepool.go
  controllers/softwarefactory_controller.go
  controllers/suite_test.go
  controllers/utils.go
  controllers/zuul.go
  docs/reference/api/index.md
  go.mod
  go.sum
  hack/microshift/do-microshift.yaml
  hack/microshift/vars.yaml
  playbooks/prepare-minikube.yaml
  schemas/Spec.dhall
Due: sf-operator-go-test, sf-operator-doc-check, sf-operator-microshift-upgrade, sf-operator-microshift-integration, sf-operator-minikube-integration, sf-operator-minikube-upgrade

Finish the removal of the operator integration
  controllers/main.go
  controllers/softwarefactory_controller.go
  controllers/softwarefactory_controller_test.go
  controllers/suite_test.go
  main.go
Due: sf-operator-go-test, sf-operator-microshift-upgrade, sf-operator-microshift-integration, sf-operator-minikube-integration, sf-operator-minikube-upgrade

Update documentation for the OLM removal
  docs/README.md
  docs/deployment/backing_services.md
  docs/deployment/backup-restore.md
  docs/deployment/external-executor.md
  docs/deployment/getting_started.md
  docs/deployment/index.md
  docs/deployment/monitoring.md
  docs/developer/getting_started.md
  docs/reference/CHANGELOG.md
  docs/reference/cli/index.md
  mkdocs.yml
Due: sf-operator-go-test, sf-operator-doc-check, sf-operator-microshift-upgrade, sf-operator-microshift-integration, sf-operator-minikube-integration, sf-operator-minikube-upgrade

Add back sf-operator image publication
  Containerfile
  playbooks/publish.yaml
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: sf-operator-go-test, sf-operator-microshift-upgrade, sf-operator-microshift-integration, sf-operator-minikube-integration, sf-operator-minikube-upgrade

Start documentation about secrets rotation
  docs/deployment/index.md
  docs/deployment/secrets_rotation.md
  mkdocs.yml
Due: sf-operator-go-test, sf-operator-doc-check, sf-operator-microshift-upgrade, sf-operator-microshift-integration, sf-operator-minikube-integration, sf-operator-minikube-upgrade

[CLI] rotate-secrets: add rotation of zuul-auth-secret
  controllers/secrets.go
  docs/deployment/secrets_rotation.md
  tests/secrets_rotation_test.go
Due: sf-operator-go-test, sf-operator-microshift-upgrade, sf-operator-microshift-integration, sf-operator-minikube-integration, sf-operator-minikube-upgrade

[CLI] rotate-secrets: add rotation of zuul-db-connection
  controllers/secrets.go
  docs/deployment/secrets_rotation.md
  tests/secrets_rotation_test.go
Due: sf-operator-go-test, sf-operator-microshift-upgrade, sf-operator-microshift-integration, sf-operator-minikube-integration, sf-operator-minikube-upgrade

[CLI] rotate-secrets: add rotation of Zookeeper secrets
  controllers/secrets.go
  docs/deployment/secrets_rotation.md
  tests/secrets_rotation_test.go
Due: sf-operator-go-test, sf-operator-microshift-upgrade, sf-operator-microshift-integration, sf-operator-minikube-integration, sf-operator-minikube-upgrade

Update tool version
  Makefile
  config/crd/bases/sf.softwarefactory-project.io_softwarefactories.yaml
Due: sf-operator-go-test, sf-operator-doc-check, sf-operator-microshift-upgrade, sf-operator-microshift-integration, sf-operator-minikube-integration, sf-operator-minikube-upgrade

Improve restore process by provisioning the data before the deployment
  cli/cmd/backup.go
  cli/cmd/restore.go
  cli/cmd/utils/utils.go
  controllers/main.go
  controllers/softwarefactory_controller.go
  controllers/utils.go
  controllers/zookeeper.go
  controllers/zuul.go
  controllers/zuul_test.go
Due: sf-operator-go-test, sf-operator-microshift-upgrade, sf-operator-microshift-integration, sf-operator-minikube-integration, sf-operator-minikube-upgrade

doc: Fix a typo
  docs/developer/microshift.md
Due: none

Remove the ca-cert secret
  cli/cmd/backup.go
  controllers/libs/cert/certificates.go
  controllers/softwarefactory_controller.go
  controllers/utils.go
  controllers/zuul_external.go
  roles/health-check/test-external-ze/tasks/main.yaml
Due: sf-operator-go-test, sf-operator-microshift-upgrade, sf-operator-microshift-integration, sf-operator-minikube-integration, sf-operator-minikube-upgrade

Improve the dev wipe command to ensure full deletion
  cli/cmd/backup.go
  cli/cmd/dev/dev.go
  cli/cmd/restore.go
  controllers/backup.go
  controllers/clean.go
  controllers/softwarefactory_controller.go
  docs/reference/cli/index.md
Due: sf-operator-go-test, sf-operator-microshift-upgrade, sf-operator-microshift-integration, sf-operator-minikube-integration, sf-operator-minikube-upgrade

Ensure Client.List call are scoped to the current namespace
  controllers/clean.go
  controllers/secrets.go
  controllers/utils.go
Due: sf-operator-go-test, sf-operator-microshift-upgrade, sf-operator-microshift-integration, sf-operator-minikube-integration, sf-operator-minikube-upgrade

Ensure the tooling volume is updated before secrets rotation
  controllers/backup.go
  controllers/main.go
Due: sf-operator-go-test, sf-operator-microshift-upgrade, sf-operator-microshift-integration, sf-operator-minikube-integration, sf-operator-minikube-upgrade

Fix remote executor deploy command
  controllers/main.go
  controllers/zuul_external.go
  main.go
Due: sf-operator-go-test, sf-operator-microshift-upgrade, sf-operator-microshift-integration, sf-operator-minikube-integration, sf-operator-minikube-upgrade

Fix adjacent kubeconfig support for all CLI
  cli/cmd/utils/utils.go
  controllers/context.go
  controllers/softwarefactory_controller.go
Due: sf-operator-go-test, sf-operator-microshift-upgrade, sf-operator-microshift-integration, sf-operator-minikube-integration, sf-operator-minikube-upgrade

Improve rotate-secret CLI to use zuul-kazoo
  cli/cmd/zuul/zuul-admin.go
  controllers/backup.go
  controllers/main.go
  controllers/secrets.go
  controllers/utils.go
  controllers/zuul.go
Due: sf-operator-go-test, sf-operator-microshift-upgrade, sf-operator-microshift-integration, sf-operator-minikube-integration, sf-operator-minikube-upgrade

Ensure kazoo clients are disconnect before secret rotation
  controllers/secrets.go
Due: sf-operator-go-test, sf-operator-microshift-upgrade, sf-operator-microshift-integration, sf-operator-minikube-integration, sf-operator-minikube-upgrade

Remove NodeAffinity setting
  api/v1/softwarefactory_types.go
  config/crd/bases/sf.softwarefactory-project.io_softwarefactories.yaml
  controllers/git_server.go
  controllers/hound-search.go
  controllers/logserver.go
  controllers/mariadb.go
  controllers/nodepool.go
  controllers/utils.go
  controllers/zookeeper.go
  controllers/zuul.go
  docs/reference/CHANGELOG.md
  docs/reference/api/index.md
  playbooks/run-tests.yaml
  roles/health-check/test-nodeAffinity/defaults/main.yaml
  roles/health-check/test-nodeAffinity/tasks/main.yaml
  roles/run-tests/tasks/main.yaml
Due: sf-operator-go-test, sf-operator-microshift-upgrade, sf-operator-microshift-integration, sf-operator-minikube-integration, sf-operator-minikube-upgrade

Update release doc to include the upgrade test update
  docs/developer/release.md
  playbooks/minikube-upgrade.yaml
  zuul.d/jobs.yaml
Due: sf-operator-go-test, sf-operator-microshift-upgrade, sf-operator-microshift-integration, sf-operator-minikube-integration, sf-operator-minikube-upgrade

Add configuration for pdf.gz
  controllers/static/logserver/logserver.conf
Due: sf-operator-go-test, sf-operator-microshift-upgrade, sf-operator-microshift-integration, sf-operator-minikube-integration, sf-operator-minikube-upgrade

Introduce a new client library package
  cli/cmd/dev/dev.go
  cli/cmd/dev/gerrit/gerrit.go
  cli/cmd/nodepool.go
  cli/cmd/utils/utils.go
  controllers/backup.go
  controllers/clean.go
  controllers/config.go
  controllers/context.go
  controllers/libs/client/client.go
  controllers/libs/client/discover.go
  controllers/libs/client/helpers.go
  controllers/main.go
  controllers/mariadb.go
  controllers/nodepool.go
  controllers/secrets.go
  controllers/softwarefactory_controller.go
  controllers/utils.go
  controllers/zuul.go
  controllers/zuul_external.go
  controllers/zuul_test.go
Due: sf-operator-go-test, sf-operator-microshift-upgrade, sf-operator-microshift-integration, sf-operator-minikube-integration, sf-operator-minikube-upgrade

doc: fix formatting of openshift_pull_secret in microshift.md
  docs/developer/microshift.md
Due: none

Include command output to test failure
  tests/main_test.go
Due: sf-operator-go-test, sf-operator-microshift-upgrade, sf-operator-microshift-integration, sf-operator-minikube-integration, sf-operator-minikube-upgrade

Release v0.0.65
  docs/reference/CHANGELOG.md
Due: none

gateway: Allow deployers to customize config, static files
  api/v1/softwarefactory_types.go
  api/v1/zz_generated.deepcopy.go
  config/crd/bases/sf.softwarefactory-project.io_softwarefactories.yaml
  controllers/gateway.go
  controllers/static/gateway/gateway.conf
  docs/deployment/gateway.md
  docs/deployment/index.md
  docs/reference/CHANGELOG.md
  docs/reference/api/index.md
  mkdocs.yml
  tests/gateway_test.go
Due: sf-operator-go-test, sf-operator-doc-check, sf-operator-microshift-upgrade, sf-operator-microshift-integration, sf-operator-minikube-integration, sf-operator-minikube-upgrade

Publish: fix host in playbook
  playbooks/publish.yaml
Due: sf-operator-go-test, sf-operator-microshift-upgrade, sf-operator-microshift-integration, sf-operator-minikube-integration, sf-operator-minikube-upgrade

Fix command name in changelog for secret rotation
  docs/reference/CHANGELOG.md
Due: none

Migrate check service url to golang
  playbooks/run-tests.yaml
  roles/health-check/check-service-uri/defaults/main.yaml
  roles/health-check/check-service-uri/tasks/main.yaml
  roles/health-check/zuul-client-api/tasks/main.yaml
  roles/health-check/zuul-client-from-zuul-pod/tasks/main.yaml
  roles/run-tests/tasks/main.yaml
  tests/deploy_test.go
  tests/url_test.go
Due: sf-operator-go-test, sf-operator-microshift-upgrade, sf-operator-microshift-integration, sf-operator-minikube-integration, sf-operator-minikube-upgrade

Implement rotate-projects-private-key process
  controllers/clean.go
  controllers/config.go
  controllers/libs/client/helpers.go
  controllers/secrets.go
  controllers/softwarefactory_controller.go
  controllers/static/rotate-projects-private-keys.py
  controllers/zuul.go
  docs/reference/CHANGELOG.md
  hack/setup-kazoo.py
  main.go
  tests/project_private_keys_rotation_test.go
Due: sf-operator-go-test, sf-operator-microshift-upgrade, sf-operator-microshift-integration, sf-operator-minikube-integration, sf-operator-minikube-upgrade

Improve the projects private keys rotation process
  controllers/secrets.go
  controllers/softwarefactory_controller.go
  controllers/zuul.go
  main.go
Due: sf-operator-go-test, sf-operator-microshift-upgrade, sf-operator-microshift-integration, sf-operator-minikube-integration, sf-operator-minikube-upgrade

Forward GIT_AUTHOR environment to the private key rotation process
  controllers/secrets.go
  main.go
  tests/project_private_keys_rotation_test.go
Due: sf-operator-go-test, sf-operator-microshift-upgrade, sf-operator-microshift-integration, sf-operator-minikube-integration, sf-operator-minikube-upgrade

Proposed a fix for vulnerabilities: found in GO and edwards25519 module.
  Containerfile
  docs/developer/getting_started.md
  go.mod
  go.sum
  roles/install-golang/defaults/main.yaml
Due: sf-operator-go-test, sf-operator-microshift-upgrade, sf-operator-microshift-integration, sf-operator-minikube-integration, sf-operator-minikube-upgrade

Add the zuul-spare-ssh-key to the backup
  controllers/backup.go
Due: sf-operator-go-test, sf-operator-microshift-upgrade, sf-operator-microshift-integration, sf-operator-minikube-integration, sf-operator-minikube-upgrade

Replace the logserver ssh key when performing project private keys rotation
  controllers/secrets.go
  controllers/static/rotate-projects-private-keys.py
Due: sf-operator-go-test, sf-operator-microshift-upgrade, sf-operator-microshift-integration, sf-operator-minikube-integration, sf-operator-minikube-upgrade

Added extra annotation for pod/sts and test this implementation on minikube
  api/v1/softwarefactory_types.go
  api/v1/zz_generated.deepcopy.go
  config/crd/bases/sf.softwarefactory-project.io_softwarefactories.yaml
  controllers/logserver.go
  docs/reference/api/index.md
  schemas/Logserver.dhall
  schemas/Spec.dhall
  tests/README.md
  tests/logserver_test.go
Due: sf-operator-go-test, sf-operator-microshift-upgrade, sf-operator-microshift-integration, sf-operator-minikube-integration, sf-operator-minikube-upgrade

Proposed a fix for vulnerabilities: found in GO and edwards25519 module.
  docs/reference/CHANGELOG.md
Due: none

Fix for demo-project git workflow
  roles/health-check/zuul-demo-tenant-workflow/tasks/main.yaml
Due: sf-operator-go-test, sf-operator-microshift-upgrade, sf-operator-microshift-integration, sf-operator-minikube-integration, sf-operator-minikube-upgrade
